p Dear #{instrumentName} staff,

p EST is hereby inviting you to the Term Review for the Call:- Spring 24, between EST & #{instrumentName}.

p We tried to invite all current BL staff to these meetings, you decide amongst yourself, who should attend. If anyone is missing on the invite list, please forward this to them!

p
    strong Note:
p The official result for Spring 24 have not yet been published by User Office.
p Nevertheless, EST have prepared all proposals from this run and they are available in Teams.
p Each proposal include direct links to the proposal and samples in DUO (easy access!). As soon as we get the official user call result, all proposals that was not accepted will be removed. Here is the link in Teams: [Add specific BL link].

p
    strong Expectations:
ul
    li The meeting will start with a general introduction from EST, including some statistics from the current run before going through the proposals one by one. 
    li Please come prepared and contribute to the discussion i.e. please read through the proposals. We understand that the timeline for this review is tight, but we appreciate your willingness to participate and contribute.
    li We will together do an initial color flagging of the experiment. This is subject to change depending on the ESRA later submitted by the PI.
    li We will also add other flags and issues that might needs to be investigated further with the PI.

p
    strong Formalities:
p The formal process relevant to Term Review can be found #[a(href="#") here].
p The formal process relevant to Experimental Safety Categories can be found #[a(href="#") here].

p I have invited several of you as Optional Attendees, meaning if you think the term review at #{instrumentName} is relevant in your field of expertise, you have the possibility to join in.

p Warm welcome!
p /EST